/* START MAIN RULEZ */

.container{width: 1170px; margin: auto;}

.clearfix{ clear:both;}
/* END MAIN RULEZ */

/* START HEADER BAR */
.header .navbar{color: #000;background-color: #252F31;overflow: hidden;}

.header .slider{
    height: 660px;
    color: #FFF;
    background-image: url('../img/2.jpg');
    -webkit-background-size: cover; /* CSS3 */
       -moz-background-size: cover; /* CSS3 */
        -o- background-size: cover; /* CSS3 */
    background-size: cover; /* CSS3 */
}

.header .slider .intro{height: 600px;text-align: center;padding-top: 250px;}

.header .slider .intro h2{
   margin: 0 auto;
    font-size: 50px;
    width:600px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    padding: 5px 0;
    color:#FFF;
}

.header .slider .intro button{
   background: none;
    margin-top: 30px;
    font-size: 20px;
    border: 2px solid #000;
    color: #FFF;
    font-weight: bold;
    padding: 10px 30px;
}
.header .navbar h2 {color:#FFF;}

.header .navbar h2 span{ color:#2ecc71; }

.header .navbar ul{
    list-style:none;  
    padding-left:0;
    overflow: hidden;
    float:right;
}
.header .navbar ul li {float:left;padding: 10px;}

.header .navbar ul li  a{color: #FFF;text-decoration: none;  }

.header .navbar ul li  a:hover{color: #308576;text-decoration: none;}

.header .navbar ul li.active a{color: #308576;text-decoration: none;}
/* END HEADER BAR */

/* START Features  */
.features{overflow: hidden;padding-top: 40px;padding-bottom: 50px;}

.features .feat{float: left;width: 33.3%;height: 300px;}

/* END Features */

/* START ABOUT ME */
.about-me{background-color: #f2f2f2;overflow: hidden;}

.about-me .image{width: 40%;}

.about-me .image img{width: 100%;}

.about-me .info{float:right;width: 60%;}

.about-me .info h2{margin: 25px 0 20px 40px;}

.about-me .info > p{margin: 0 0 10px 40px;   }

.about-me .info p:last-of-type{margin-top: 25px;}

.about-me .info .hoppies{overflow: hidden;margin: 15px 0 0 40px;}

.about-me .info .hoppies h3{color: #555;}

.about-me .info .hoppies .content{width: 50%;overflow: hidden;}

.about-me .content .icon{width: 12%;margin-right: 5%;}

.about-me .content .icon img{ max-width: 100%;margin:40px 10px 0 0 }

.about-me .content .text{ float:left; width: 83%;}

.about-me .content .text p { margin-top: 0;}

.about-me .content .text h3 { margin-bottom: 5px;}

/* END ABOUT ME */

/* START my-skills */
.my-skills{padding-top:30px;padding-bottom: 50px;overflow: hidden;}

.my-skills .skills,.my-skills .progress{width:50%;}

.my-skills .skills h2{margin: 40px 0 20px 40px;}

.my-skills .skills p{margin: 0 0 10px 40px;   }

.my-skills .skills p:last-of-type{margin-top: 25px;}

.my-skills .skills  button{margin-left: 40px;margin-top: 20px;}

.my-skills .progress  .technique{margin-left: 50px;}

.my-skills .progress  .technique div {background-color: #F2F2F2;height: 25px;}

.my-skills .progress  .technique div span {
    background-color: #2DCC70;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: #FFF;
    font-weight: bold;
}
/* END my-skills */

/* START REsume ME */
.resume{
    background-color: #f2f2f2;
    padding-top:50px;
    padding-bottom: 70px;
}
.resume .button{margin-top: 25px;}

.resume h2{font-weight: bold;}

.resume p{padding:0 40px;}

.resume button{margin-bottom: 15px;}
/* END Resume ME */

/* START my-education */
.my-education{padding-top:30px;padding-bottom: 30px;overflow: hidden;}

.my-education  hr{margin: 20px 0 ;background-color: #999;height: 1px;border: 0}

.my-education .main{width:50%;margin-right: 5%;}

.my-education .main h2{margin: 40px 0 20px 40px;}

.my-education .main p{margin: 0 0 10px 40px;}

.my-education .main p:last-of-type{margin-top: 25px;}

.my-education .exp{width:45%;}

.my-education .exp h3{margin-top: 80px 0 10px 0}

.my-education .exp span{display: block;margin-top: 10px;}

.my-education .exp span:first-of-type{color: #999;}

.my-education .exp span:last-of-type{
    color: #FFF;
    background-color: #2Dcc70;
    display: inline-block;
    padding: 4px 10px;
}
/* END my-education */

/* Start testimonoals */
.testimonoals{
    background-color: #f2f2f2;
    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
}

.testimonoals q{color: #888;font: italic bold 18px/1.8 Arial, Tahuma;}

.testimonoals h3{margin-bottom: 30px;}

.testimonoals ul{list-style: none; padding-left:0;margin-top: 10px;}

.testimonoals ul li{
    width: 20px; 
    height:20px; 
    border: 2px solid #2DCC70;
    display: inline-block;
    cursor: pointer;
}

.testimonoals ul li.active,.testimonoals ul li:hover{background-color: #2DCC70;}
/* END testimonoals */


/* Start Portfolio */
.Portfolio{padding-top:50px;padding-bottom: 70px;}

.Portfolio p{margin-bottom: 30px;}

.Portfolio .our-work{overflow: hidden;}

.Portfolio .our-work > div{float: left;width: 33.33%;margin-bottom: 10px;}

.Portfolio .our-work > div img { 
    width: 92%; 
    margin: 10px;
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 10px 10px 5px #CCC;
}
/* END portfolios */

/* Start contact me */

.contact-me{
    background-color: #252f31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px
}

.contact-me .info {width: 50%;margin-right: 5%;}

.contact-me h2{color: #FFF;margin-left: 40px;}

.contact-me p{color: #6a6e71;margin-left: 40px;}

.contact-me p strong {color: #D1D6DA;}

.contact-me .form{width: 45%;}

.contact-me .form label{display: block;color: #D1D6DA;margin: 10px 0;}

.contact-me .form input[type="text"]{
    background-color: #485557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
}
.contact-me .form textarea{
    background-color: #485557;
    color: #FFF;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}
.contact-me .form input[Type="submit"]{
    background-color: #191E22;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    margin-top: 10px;
}
/* END contact me */

/* Start footer */
.footer{
    background-color: #191E22;
    color: #6a6e71;
    padding: 20px 0;
    overflow: hidden;
}

.footer span{margin: 0;}

.footer ul{
    list-style: none;
    margin: 10px 0 0;
    padding-left: 0;
    float: right;
}
.footer ul li{display: inline-block;}

.footer ul li img{width: 24px;}

/* End footer */

/* Start My Frame Work */ 
.my-button{
    background: none;
    border:3px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;
    font-weight: bold;
}
.fl-left{float: left}

p{color: #888;line-height: 1.7}

h3,h2{color:#444}

.text-cen {text-align: center}

/* End My Frame Work */ 